.moreTravel_items {
  box-shadow: rgba(157, 157, 157, 0.48) 6px 2px 16px 0px,
    rgba(150, 149, 149, 0.268) -6px -2px 16px 0px;
  padding: 1.5% 0;
}
.moreTravel_item {
  padding: 1.5% 0;
  cursor: pointer;
}
.moreTravel_item:hover {
  background-color: rgba(0, 0, 128, 0.049);
}
.inner_item {
  width: 90%;
  margin: auto;
  font-size: large;
  display: flex;
  align-items: center;
  gap: 4%;
  color: navy;
  padding: 1% 0;
}
.inner_item a {
  text-decoration: none;
  font-size: small;
}
