.paymentmethod {
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.paymentmethod-title {
  width: 90%;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
  color: #262626;
}

.paymentmethod-tt {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
  color: #2f7000;
}

.paymenttras {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 0px 4px;
  font-weight: 400;
  font-size: small;
}

.paymentmethodcheck {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  font-size: 0.8rem;
  gap: 0px 4px;
  margin-top: 20px;
}

.paymentmethodcheck > div {
  padding: 5px 5px;
  cursor: pointer;
}

.paymentmethodcheck > div:first-child {
  background-color: #f5f5f5;
}

.paymentmethodcheck > div:hover {
  background-color: #d8f9ff;
}

.payment-line {
  width: 100%;
  background-color: #c7c7c7;
  height: 1px;
  margin-top: 8px;
}

.paymentmethod-imgcard {
  width: 90%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.paymentmethod-imgcard > div {
  height: 100%;
  width: 5%;
  border: 1px solid #e5e5e5;
}

.paymentmethod-imgcard > div > img {
  width: 100%;
  object-fit: cover;
}

.paymentmethod-form {
  width: 90%;
  margin: auto;
  font-size: 0.9rem;
  font-weight: 500;
  color: #616161;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.form-star {
  color: red;
}

.paymentmethod-form > input {
  width: 100%;
  max-width: 50%;
  margin-top: 5px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #616161;
  margin-bottom: 20px;
}

.paymentmethod-form > input:nth-child(4) {
  max-width: 35%;
  margin-top: 5px;
  height: 40px;
}

.paymentmethod-form > input:focus {
  outline: 2px solid #0f4a8a;
}

.form-select {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-select > select {
  width: 100px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #3498db;
  border-radius: 5px;
  padding: 1%;
}

.formsk {
  display: flex;
  width: 100%;

  margin-bottom: 20px;
  align-items: center;
}
.formsk > div {
  display: flex;
  flex-direction: column;
}
.formsk > div > input {
  border: 1px solid #3498db;
  margin-top: 10px;
}

.seckey {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #616161;
}

.formbz {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #616161;
}

.formcheckboc {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sc:focus {
  outline: 2px solid #0f4a8a;
}
