#anon_navbar_two {
  width: 40%;
  margin: auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: -9px;
  margin-top: 20px;
}
#anon_navbar_two > div > a {
  text-decoration: none;
  color: grey;
}
#anon_navbar_two > div > a {
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}
#anon_navbar_two > div > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  color: grey;
  background-color: grey;
}
#anon_navbar_two > div > a:hover::before {
  width: 100%;
}
/*  */

.date_pick {
  position: absolute;
  top: 100px;
}
.options_menu {
  position: absolute;
  background-color: white;
  top: 130px;
  right: 60px;
  border-radius: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(212, 210, 210, 0.8) -6px -2px 16px 0px;
  padding: 2%;
  /* animation */
}

.optionItem {
  width: 300px;
}
.option_text {
  width: 40%;
  display: flex;
  align-items: center;
}
.optionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.counter_div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.optionButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.137);
  cursor: pointer;
  background-color: transparent;
  color: grey;
  font-size: large;
}
.optionButton:disabled {
  cursor: not-allowed;
}
.optionButton:hover {
  background-color: rgba(0, 0, 128, 0.049);
  color: rgb(34, 0, 102);
}
.options_done_btn {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: navy;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.options_done_btn:hover {
  background-color: rgba(1, 1, 132, 0.826);
}
